#body-brands {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #cfdfe4;

  h1 {
    text-align: center;
    color: white;
    padding: 20px;
  }

  #image-brands {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-rows: 90px;
    grid-auto-flow: dense;
    grid-gap: 50px;

    .image-box {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

// @media (max-width: 1120px) {

// }

// @media (max-width: 830px) {

// }
