#section-brand {
    width: 100%;
    display: flex;
    justify-content: center;

    
    .container-brand {
        background-color: rgb(146, 146, 146);
        width: 800px;
        height: 500px;
    }
}