#card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 90%;
    margin: 25px auto;


    img {
        max-width: 300px;
    }


    .card-class {
        display: flex;
        justify-content: center;
        width: 18rem;
        box-shadow: 0px 0px 4px black;
        transition: all 2s ease;


        
        &:hover {
            .card-img {
            background-color: rgba(14, 185, 168, 0.900);
            transition: 0.2s;
            padding: 3px;
            }
            width: 600px;
            img {
                max-width: 300px;
            }
        }
    }



    .card-title {
        font-size: medium;
    }

    .card-text {
        font-size: small;
    }

    .text-muted {
        font-size: 12px;
    }
}

