#form-container {
  #form-header {
    .section-title {
      text-align: center;
      font-weight: bold;
      margin: 30px 0;
      border-left: 8px solid #016ac5;
      border-right: 8px solid #016ac5;
      padding-left: 14px;
      padding-right: 14px;
    }
  }
  #form {
    span {
      padding-right: 30px;
    }
  }
}
