#main-header {
    width: 100%;
    height: 80px;
    padding: 0 50px;

    display: flex;
    justify-content:space-evenly;
    align-items: center;

    background-color: #029f8e;

    #menu {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;

        img {
            max-width: 230px;
            margin-left: 45px;
            margin-top: 25px;
        }

        ul {
            display: flex;
            justify-content:flex-start;

            li {
                list-style: none;
                margin: 8px;

                .menu-link {
                    text-decoration: none;
                    color: white;
                    font-weight: 600;
                    padding: 0 8px;
                    border-radius: 8px;
                    text-shadow: 0.5px 0.5px 3px black;


                    &:hover {
                        background-color: rgba(14, 185, 168, 0.900);
                        box-shadow: 0px 0px 3px;
                        transition: 0.2s;
                    }
                }
            }
        }


    }



    #horario {
        display: flex;

        img {
            max-width: 60px;
            max-height: 60px;
            margin-right: 20px;
        }

        .titulo {
            font-weight: 600;
            font-size: medium;
        }

        p {
            color: white;
            margin: 0 0;
            font-size:small;
        }
    }



    #contato {
        a {
            text-decoration: none;
        }
        img {
            max-width: 20px;
            margin: 1px 10px;
        }

        span {
            color: white;

        }

    }





}