#main-header {
  width: 100%;
  height: 70px;
  background-color: #256fac;
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='70' preserveAspectRatio='none' viewBox='0 0 1920 70'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1049%26quot%3b)' fill='none'%3e%3crect width='1920' height='70' x='0' y='0' fill='url(%23SvgjsLinearGradient1050)'%3e%3c/rect%3e%3cpath d='M265.5192972681195 61.7683314655348L260.9045315501135 49.74645575743359 253.49742156001827 66.38309718354077z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1434.8862473808072 10.860219967017837L1446.7072001951115 8.562459504670993 1432.5884869184604-0.9607328472863763z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M447.877%2c42.072C450.962%2c42.15%2c453.184%2c39.508%2c454.76%2c36.855C456.382%2c34.125%2c457.77%2c30.836%2c456.19%2c28.081C454.605%2c25.317%2c451.052%2c24.585%2c447.877%2c24.853C445.162%2c25.082%2c442.981%2c26.909%2c441.685%2c29.306C440.459%2c31.575%2c440.443%2c34.203%2c441.569%2c36.523C442.879%2c39.224%2c444.876%2c41.996%2c447.877%2c42.072' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M239.4179456997459 69.09844533542889L243.484866401325 54.91540733878634 229.30182840468245 50.848486637207245 225.23490770310335 65.0315246338498z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M904.666%2c22.739C909.933%2c23.016%2c915.497%2c21.309%2c918.161%2c16.757C920.846%2c12.169%2c919.385%2c6.603%2c916.84%2c1.936C914.153%2c-2.991%2c910.277%2c-8.089%2c904.666%2c-7.991C899.153%2c-7.895%2c895.591%2c-2.622%2c893.207%2c2.35C891.182%2c6.573%2c891.131%2c11.373%2c893.425%2c15.455C895.769%2c19.626%2c899.888%2c22.488%2c904.666%2c22.739' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1837.886339768179 36.68766150713171L1854.8357449944833 39.372183567733714 1857.5202670550855 22.422778341429208 1840.5708618287808 19.7382562808272z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M749.7663330060244 43.86457992455905L766.3061016973933 38.169480846696885 744.0712339281622 27.324811233190193z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M121.4215936023113-3.3313032301113727L111.986893219151 13.689346817787428 129.00754326704978 23.124047200947736 138.44224365021012 6.103397153048937z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M348.379%2c54.06C352.936%2c54.214%2c357.667%2c52.557%2c359.907%2c48.585C362.116%2c44.668%2c360.85%2c39.92%2c358.522%2c36.073C356.29%2c32.385%2c352.69%2c29.545%2c348.379%2c29.536C344.054%2c29.527%2c340.277%2c32.258%2c338.164%2c36.032C336.102%2c39.716%2c336.046%2c44.175%2c338.127%2c47.848C340.238%2c51.574%2c344.098%2c53.915%2c348.379%2c54.06' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1366.4124284541017 54.680286166347926L1378.3528498447686 45.011123574565744 1356.7432658623195 42.73986477568101z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1304.750831644891 56.424543925513944L1318.4983122236024 55.22179522283388 1303.5480829422108 42.6770633468025z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1691.9696865756143 47.05342117616295L1704.5191430964528 37.59672738829624 1695.062449308586 25.04727086745781 1682.5129927877476 34.50396465532452z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M766.1286283058472 20.243838805202245L779.1441391263063 12.423330916661243 771.3236312377653-0.5921799037979092 758.3081204173062 7.228327984743094z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1049'%3e%3crect width='1920' height='70' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='24.09%25' y1='-660.71%25' x2='75.91%25' y2='760.71%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1050'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(37%2c 111%2c 172%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

  .header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 100%;
  }

  #menu-logo {
    .big-logo {
      max-width: 330px;
      display: block;

      &:hover {
        filter: drop-shadow(0px 0px 1.5px white);
        transition: 0.3s;
      }
    }

    .small-logo {
      display: none;
      max-width: 80px;
    }
  }

  #menu-header {
    ul {
      display: flex;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        margin: 0px auto;

        .menu-link {
          text-decoration: none;
          color: white;
          font-weight: 600;
          padding: 0 20px;
          border-radius: 2px;

          &:hover {
            filter: drop-shadow(0px 0px 1px white);
            transition: 0.4s;
          }
        }
      }
    }
  }

  #contato {
    width: 330px;

    .socials {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        text-decoration: none;

        img {
          max-width: 20px;
          max-height: 20px;
          margin-top: 5px;
          margin-right: 5px;

          &:hover {
            filter: drop-shadow(0px 0px 1.5px white);
            transition: 0.3s;
          }
        }
      }
    }
    .local {
      display: flex;
      justify-content: center;
      margin-top: 2px;
      img {
        max-width: 20px;
        max-height: 20px;
        margin-top: 5px;
        margin-right: 5px;
      }
      span {
        color: white;
        font-size: 15px;
        margin-top: 4px;
      }
    }
  }
}

@media (max-width: 922px) {
  #main-header {
    #menu-logo {
      .big-logo {
        max-width: 330px;
        display: none;
      }
      .small-logo {
        display: block;
      }
    }
    #menu-header {
      ul {
        padding-right: 10px;
        li {
          .menu-link {
            padding: 0 10px;
          }
        }
      }
    }

    #contato {
      display: none;
      width: 80px;
      a {
        padding-left: 20px;
      }
      .local {
        display: none;
      }
    }
  }
}
