@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;800&family=Poppins:wght@200;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#main-content {
  padding: 50px 0;
  margin: 0 10%;
  min-height: 84vh;
  background-color: #DDD;

  .main-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 3px;
  }
}